
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* navbar  */
header {
    background-color: #7A1616; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/*  logo */
.logo {
    position: absolute;
    top: 10px;
    left: 20px;
}

.logo img {
    width: 100px; /* Aligné avec style.css */
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}


nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
    gap: 10px;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: #9B2E2E;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #B84545;
}

/* Responsive pour mobile */
@media screen and (max-width: 500px) {
    .logo img {
        width: 40px;
        height: 40px;
    }
}


main {
    padding: 20px;
}


section {
    margin-bottom: 40px;
}

/* Titres */
h2 {
    color: #B84545;
    margin-bottom: 20px;
}

/* Formulaire de contact */
#contact-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #9B2E2E;
    border-radius: 10px;
    text-align: center;
}

#contact-form h2 {
    color: white;
    margin-bottom: 15px;
}

/* texte du formulaire */
#contact-form label {
    display: block;
    margin: 10px 0 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

/* Bouton d'envoi */
#contact-form button {
    background-color: #B84545;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#contact-form button:hover {
    background-color: #9B2E2E;
}

/* carte google maps */
.map-container {
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

/* footer */
footer {
    background-color: #B84545;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        text-align: center;
    }
}
